<div class="container-fluid mt-3">
  <ul class="d-flex flex-wrap justify-content-around">
    <li *ngFor="let book of booksList" class="abook border border-warning mx-1 my-1">
      <app-book [book]='book'></app-book>
      <div *ngIf="authServ.isAuthenticated()" class="d-flex justify-content-around my-2">
        <button type="button" class="btn btn-success mx-1" (click)="bServ.like(book.id)"><i class="far fa-thumbs-up"></i></button>
        <a class="btn btn-info mx-1 text-light" routerLink="review/{{book.id}}" ><i class="fas fa-glasses text-dark"></i> Review</a>
        <button type="button" class="btn btn-warning mx-1" (click)="bServ.addInMyBooks(book.id)"><i class="fas fa-heart text-danger"></i> Add to collection</button>
      </div>
    </li>
  </ul>
</div>