.abook {
    padding-top: 5px;
    list-style-type: none;
    width: 345px;
    height: fit-content;
    box-sizing: border-box;
}

.bookContainer{
    height: 250px;
    display: block;
}

.view {
    cursor: pointer;
}