<div class="container-fluid mt-3">
  <ul class="d-flex flex-wrap justify-content-around">
    <li *ngFor="let book of booksList" class="abook border border-warning mx-1 my-1">
      <div *ngIf="authServ.isAuthenticated() && bServ.isAdmin()" class="d-flex justify-content-around mt-1 mb-3">
          <button type="button" class="btn btn-danger mx-1" (click)="bServ.deleteBook(book.id)"><i class="fas fa-trash-alt"></i> Remove</button>
          <a type="button" class="btn btn-primary mx-1" routerLink="edit/{{book.id}}"><i class="fas fa-pencil-alt text-light"></i> Edit</a>
      </div>
      <app-book [book]='book'></app-book>
    </li>
  </ul>
</div>