<div class="container-fluid mt-3">
    <div class="card col-8 offset-2 border-warning">
        <div class="row" *ngIf="aBook">
            <div class="col-4 py-5">
                <img src="{{aBook.imagePath}}" class="thumbnail">
            </div>
            <div class="col-8">
                <div class="card-block p-5">
                    <h4 class="card-title my-2">{{aBook.title}}</h4>  
                    <h5 class="card-title my-2">{{aBook.author}}</h5>
                    <h6>{{aBook.upvotes}}<button type="button" class="btn btn-success ml-5  my-2"><i class="far fa-thumbs-up"></i></button></h6>
                    <p class="card-text">{{aBook.description}}</p>
                    <button type="button" class="btn btn-warning mx-1 my-2"><i class="fas fa-heart text-danger"></i> Add to collection</button>
                </div>
            </div>
        </div>
    </div>
</div>