<div class="container-fluid mt-3">
    <div class="card col-md-8 offset-md-2 border-warning">
        <div class="row" *ngIf="aBook">
            <div class="col-md-4 py-3">
                <img src="{{aBook.imagePath}}" class="thumbnail">
            </div>
            <div class="col-md-8">
                <div class="card-block p-3">
                    <h4 class="card-title my-2">{{aBook.title}}</h4>  
                    <h5 class="card-title my-2">{{aBook.author}}</h5>
                    <h6>{{aBook.upvotes}}<button type="button" class="btn btn-success ml-5  my-2"(click)="bServ.like(aBook.id)"><i class="far fa-thumbs-up"></i></button></h6>
                    <p class="card-text">{{aBook.description}}</p>
                    <a class="btn btn-outline-info mx-1 text-dark" (click)="bServ.readBook(aBook.id)"><i class="fas fa-book-open text-dark"></i> Read</a>
                    <button type="button" class="btn btn-warning mx-1 my-2" (click)="bServ.addInMyBooks(aBook.id)"><i class="fas fa-heart text-danger"></i> Add to collection</button>
                </div>
            </div>
        </div>
    </div>
</div>